
/* whole body */

*{
  padding: 0px;
  margin: 0px;
}


body{
    text-decoration:  none;
    font-family: 'Trebuchet MS', sans-serif;
}









/* header */

header{

  width: 100%;
  height: 105px;
  box-sizing: border-box;

}

header nav{

  width: 100%;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}


nav ul li{
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-left: 30px;
  
}

nav ul li a{
  text-decoration: none;
  font-size: 30px;
  color:#E8637B;
}

nav ul li a:hover{
  color: #E8637B;
}

hr{

  border: 10px solid hsl(348, 74%, 72%);
  border-radius: 5px;
}










/* footer */

footer section{
  position: relative;
  top: 0px;

}

footer section hr{

  border: 10px solid hsl(348, 74%, 72%);
  border-radius: 5px;

} 










/* HOME */

.word{

  width: 100%;
  height: 320px;
  background-image: url(img/header-background.jpeg);
}

.word h1{
  position: relative;
  top:150px;
  font-size: 70px;
  color: white;
  margin-left: 30px;
}

.word h2{

  position: relative;
  top:150px;
  font-size: 40px;
  color: white;
  margin-left: 30px;
}

.content{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 18px;
    margin-bottom: 10px;

}

.circle-1{
  width: 100%;
  height: 140px;
  position:relative;
  top: 14px;
  box-sizing: border-box;
  text-align: center;

}

 #work-label {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #E8637B;
  position: absolute;
  top: 15px;
  left: 10px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;

}

#circle-1-href{
  position: relative;
  top: 30px;
  color: white;
}

.para-work {
  width: 250px;
  height: 100px;
  flex: 1;
  font-family:inherit;
  color:black;
  font-size: 16px;
  padding-left: 120px;
  padding-top: 10px;
  text-align: left;
}

.para-work ul{
  margin-left: 20px;
}


.circle-2{
  width: 100%;
  height: 150px;
  margin-top: 20px;
  position:relative;
  top: 14px;
  box-sizing: border-box;
  text-align: center;

}

 #contact-label {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #E8637B;
  position: absolute;
  top: 0px;
  left: 10px;
  font-family:Arial, Helvetica, sans-serif;
  color:black;
  font-size: 27px;

}

#circle-2-href{
  position: relative;
  top: 30px;
  color: white;
}

#para-contact {
  width: 250px;
  height: 200px;
  flex: 1;
  font-family:inherit;
  color:black;
  font-size: 16px;
  padding-left: 120px;
  text-align: left;
}

#para-contact ul li{
  margin-left: 25px;
}














/* contact page */

.email-Github-Phone{
  width: 100%;
  height: 800px;

}

#Email{
  width: 100px;
  height: 100px;
  position: relative;
  top: 10%;
  left: 35%;
  
}

.p1{
  width: 250px;
  position: relative;
  top: 11%;
  left: 16%;

}

#Github{
  position: relative;
  top: 17%;
  left: 30%;
  
}

.p2{
  width: 100px;
  position: relative;
  top: 20%;
  left: 31%;
}

#Phone{
  position: relative;
  top: 27%;
  left: 30%;
  
}

.p3{

  width: 250px;
  position: relative;
  top: 29%;
  left: 20%;

}












/* Work.html */

article{

  width: 100%;
  height: 7000px;

}


.myself h2{
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.myself .question-list{

  margin-top: 30px;
  margin-left: 20px;
  list-style: none;
  
}
.myself .question-list li{
  margin-bottom: 15px;
  font-size: 20px;
}

.myself ul li span{
  font-size: 18px;
}

.myself .hobby-list{
  margin-left: 80px;
}














/* program skill */
.progammingskill{
  margin-top: 50px;
  width: 90%;
  margin-left: 15px;
}

.progammingskill h2{
  font-weight: 600;
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;
}

.progammingskill .bars{
  margin-bottom: 20px;
}

.progammingskill .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progammingskill span{
  font-weight: 500;
  font-size: 22px;
}

.progammingskill .line{
  height: 7px;
  width: 100%;
  background:lightgray;
  position: relative;
  

}

.progammingskill .line::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  left:0;
  top:0;
  background: #E8637B;
}

.progammingskill .html::before{
  width: 80%;
}

.progammingskill .css::before{
  width: 40%;
}

.progammingskill .js::before{
  width: 70%;
}

.progammingskill .c::before{
  width: 90%;

}

.progammingskill .React::before{
  width: 90%;
}
















/* projects */
.projects{
  margin-top: 50px;
}

/* .projects h2{

} */

article h2{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #e95c76;

}


article strong{

  color: #E8637B;
}














/* project -- stock */

.projects .project-stock{
  width: 90%;
  margin-left: 20px;
  font-size: 16px;
}

.projects .project-stock h2{
  margin-top: 100px;
}

.projects .project-stock h3{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;

}

.projects .project-stock img{
  width: 100%;
  margin-bottom: 50px;
}

.projects .project-stock p{
  font-size: 18px;
}

.projects .project-stock ul li{

  list-style: none;
  margin-bottom: 10px;
  font-size: 18px;
  
}

.projects .project-stock ul li strong{
  font-size: 20px;
}


.projects .project-stock h4{

  font-size: 22px;
  font-weight: 200;

}












/* project-2 tool library */
.projects .project-tool{

  width: 90%;
  margin-left: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}

.projects .project-tool h3{
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
}

.projects .project-tool p{
  margin-bottom: 50px;
  font-size: 18px;
}

.projects .project-tool ul{
  margin-top: 20px;
}

.projects .project-tool ul li strong{
  font-size: 20px;
}

.projects .project-tool ul li{
  list-style: none;
  margin-bottom: 10px;
  font-size: 18px;
  
}

.projects .project-tool ul img{
  width: 100%;
  /* margin-left: 15px;s */
  margin-bottom: 50px;

}

.projects .project-tool h4{

  font-size: 22px;
  font-weight: 200;
  
}















/* project -- 3   Discount */

.projects .project-discount{
  width: 90%;
  margin-left: 20px;
  font-size: 16px;
}
.projects .project-discount h3{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

.projects .project-discount p{
  margin-left: 5px;
  font-size: 18px;
  margin-bottom: 20px;
}

.projects .project-discount ul{
  
  list-style: none;
  font-size: 20px;
}

.projects .project-discount ul img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 60px;
}

.projects .project-discount ul li strong{
  margin-bottom: 10px;
}

.projects .project-discount h4{

  font-size: 22px;
  font-weight: 200;
}

