
/* importing fonts */

*{
  padding: 0px;
  margin: 0px;
}




body{
    text-decoration:  none;
    font-family: 'Trebuchet MS', sans-serif;
}



/* header */

.header1{

  width: 100%;
  height: 400px;
  box-sizing: border-box;
  background-image: url(img/header-background.jpeg);

}

.header2{

  width: 100%;
  height: 100px;
  box-sizing: border-box;
  background-image: url(img/header-background.jpeg);

}

.header1 nav{

  width: 100%;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}

.header2 nav{

  width: 100%;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}


nav ul li{
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-left: 30px;
}

nav ul li a{
  text-decoration: none;
  font-size: 30px;
  color: white;
}

nav ul li a:hover{
  color: #E8637B;
}

hr{

  border: 10px solid hsl(349, 55%, 62%);
  border-radius: 5px;
}

.word{

  width: 100%;
  height: 250px;
}

.word h1{
  position: relative;
  top:150px;
  font-size: 70px;
  color: white;
  margin-left: 30px;
}

.word h2{

  position: relative;
  top:150px;
  font-size: 40px;
  color: white;
  margin-left: 30px;
}

.content{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 18px;
    margin-bottom: 10px;

}

.Github{
  text-decoration: none;
}

/* Done */



.circle-1{
  width: 100%;
  height: 140px;
  position:relative;
  top: 14px;
  box-sizing: border-box;
  text-align: center;

}

 #work-label {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #E8637B;
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: fantasy;
  color:black;
  font-size: 25px;

}

#circle-1-href{
  position: relative;
  top: 30px;
}

.para-work {
  width: 250px;
  height: 100px;
  flex: 1;
  font-family:inherit;
  color:black;
  font-size: 16px;
  padding-left: 120px;
  padding-top: 10px;
  text-align: left;
}


/* Contact */

.circle-2{
  width: 100%;
  height: 150px;
  position:relative;
  top: 14px;
  box-sizing: border-box;
  text-align: center;

}

 #contact-label {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #E8637B;
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: fantasy;
  color:black;
  font-size: 25px;

}

#circle-2-href{
  position: relative;
  top: 30px;
}

#para-contact {
  width: 250px;
  height: 200px;
  flex: 1;
  font-family:inherit;
  color:black;
  font-size: 16px;
  padding-left: 120px;
  text-align: left;
}

#para-contact ul li{
  margin-left: 25px;
}

/* footer */

footer section{
  position: relative;
  top: 0px;

}

footer section hr{

  border: 10px solid hsl(348, 100%, 89%);
  border-radius: 5px;

} 



/* contact page */

.contact-header{

  width: 100%;
  height: 80px;
  padding-top: 5%;
  padding-left: 4%;
  padding-right: 4%;
  background-image: url(wall.jpg);

}

.contact-header h2{
  float: right;
  margin-top: 0px;
  margin-right: 28%;
  font-size: 45px;
  color: white;

}

#back{

  width: 35px;
  height: 35px;
  margin-top: 10px;
}


.email-Github-Phone{
  width: 100%;
  height: 800px;

}

#Email{
  width: 100px;
  height: 100px;
  position: relative;
  top: 10%;
  left: 35%;
  
}

.p1{
  width: 250px;
  position: relative;
  top: 11%;
  left: 16%;

}

#Github{
  position: relative;
  top: 17%;
  left: 30%;
  
}

.p2{
  width: 100px;
  position: relative;
  top: 20%;
  left: 31%;
}

#Phone{
  position: relative;
  top: 27%;
  left: 30%;
  
}

.p3{

  width: 250px;
  position: relative;
  top: 29%;
  left: 20%;

}



/* Work.html */

article{

  width: 100%;
  height: 2000px;

}

.work-img{

  width: 100%;
  
}