
/* whole body */

*{
  padding: 0px;
  margin: 0px;
}


body{
    text-decoration:  none;
    font-family: 'Trebuchet MS', sans-serif;

}






/* header */

header{

  width: 100%;
  height: 105px;
  box-sizing: border-box;

}

header nav{

  width: 100%;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}


nav ul li{
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-left: 30px;
  
}

nav ul li a{
  text-decoration: none;
  font-size: 30px;
  color:#E8637B;
}

nav ul li a:hover{
  color: #E8637B;
}

hr{

  border: 10px solid hsl(348, 74%, 72%);
  border-radius: 5px;
}










/* footer */

footer{

  width: 100%;
  height: 120px;
}

footer section{
  position: relative;
  top: 0px;

}

footer section hr{

  border: 10px solid hsl(348, 74%, 72%);
  border-radius: 5px;

} 

footer h4{
  text-align: center;
}

footer a{


  width: 100%;
  margin-left: 35%;
  margin-right: 35%;
}

footer .footer-contact-icons{

  margin-left: 30%;
  /* margin-right: 35%; */
}
footer .footer-contact-icons img{
  margin-top: 10px;
  width: 30px;
  height: 30px;

}

footer .footer-contact-icons ul{
  list-style: none;
}

footer .footer-contact-icons ul li{
  display: inline-block;
  margin-right: 10px;
}









/* HOME */

.img-indexheading{

  width: 100%;
  height: 320px;
  background-image: url(img/index/index-background.jpeg);
}

.img-indexheading h1{
  position: relative;
  top:150px;
  font-size: 70px;
  color: white;
  margin-left: 30px;
}

.img-indexheading h2{

  position: relative;
  top:150px;
  font-size: 40px;
  color: white;
  margin-left: 30px;

}

.content{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 18px;
    margin-bottom: 10px;

}

.circle-1{
  width: 100%;
  height: 140px;
  position:relative;
  top: 14px;
  box-sizing: border-box;
  text-align: center;

}

 #work-label {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #E8637B;
  position: absolute;
  top: 15px;
  left: 10px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;

}

#work-label span{
  position: relative;
  top: 30px;
  color: white;
  text-decoration: none;
}

.para-work {
  width: 250px;
  height: 100px;
  flex: 1;
  font-family:inherit;
  color:black;
  font-size: 16px;
  padding-left: 120px;
  padding-top: 10px;
  text-align: left;
}

.para-work ul{
  margin-left: 20px;
  list-style: none
}

.para-work ul li::before {
  content: "•"; 
  color: #E8637B;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;

}

.para-work ul li a{
  color: #E8637B;
}





.circle-2{
  width: 100%;
  height: 150px;
  margin-top: 20px;
  position:relative;
  top: 14px;
  box-sizing: border-box;
  text-align: center;

}

 #contact-label {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #E8637B;
  position: absolute;
  top: 0px;
  left: 10px;
  font-family:Arial, Helvetica, sans-serif;
  color:black;
  font-size: 27px;

}

#contact-label span{
  position: relative;
  top: 30px;
  color: white;
  text-decoration: none;
}

.para-contact {
  width: 250px;
  height: 200px;
  flex: 1;
  font-family:inherit;
  color:black;
  font-size: 16px;
  padding-left: 120px;
  text-align: left;
}

.para-contact ul{
  list-style: none
}

.para-contact ul li{
  margin-left: 25px;
}

.para-contact ul li::before {
  content: "•"; 
  color: #E8637B;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;

}

.para-contact ul li a{
  color: #E8637B;
}



.overview-projects-head{

  width: 100%;
  height: 220px;
  background-image: url(img/index/index-image6.png);
}

.overview-projects-head h2{
  position: relative;
  padding-top: 80px;
  padding-left: 30px;
  color: white;
  font-size:50px
}

.overview-projects{
  width: 100%;
  height: 1500px;

}

.overview-projects img{
  margin-top: 50px;
  width: 90%;
  height: 400px;
  align-items: center;
  margin-left: 15px;
}



.overview-projects a{
  color: #E8637B;
  font-size: larger;
  text-align: right;
}

.overview-projects h3{
  margin-right: 20px;
  margin-top: -20px;
}












/* contact page */

.email-Github-Phone{
  width: 100%;
  height: 700px;

}


.email-Github-Phone img{


  height: 100px;
  position: relative;
  margin-left: 35%;
  margin-right: -150px;
  margin-bottom: 40px;
  margin-top: 40px;
  align-items: center;
}



.email-Github-Phone p{
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  margin-top: -20px;
  text-align: center;
}







/* Work.html */

.Work-article{

  width: 100%;
  height: 7700px;

}


.Work-article h2{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #e95c76;
  margin-top: 100px;

}


.Work-article strong{

  color: #E8637B;
}





/* Me */

.myself h2{
  margin-top: 20px;

}

.myself .question-list{

  margin-top: 30px;
  margin-left: 20px;
  list-style: none;
  
}
.myself .question-list li{
  margin-bottom: 15px;
  font-size: 20px;
}

.myself ul li span{
  font-size: 18px;
}

.myself .hobby-list{
  margin-left: 80px;
}







/* program skill */
.progammingskill{
  margin-top: 50px;
  width: 90%;
  margin-left: 15px;
}

.progammingskill h2{
  font-weight: 600;
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;
}

.progammingskill .bars{
  margin-bottom: 20px;
}

.progammingskill .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progammingskill span{
  font-weight: 500;
  font-size: 22px;
}

.progammingskill .line{
  height: 7px;
  width: 100%;
  background:lightgray;
  position: relative;
  

}

.progammingskill .line::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  left:0;
  top:0;
  background: #E8637B;
}

.progammingskill .html::before{
  width: 80%;
}

.progammingskill .css::before{
  width: 40%;
}

.progammingskill .js::before{
  width: 70%;
}

.progammingskill .c::before{
  width: 80%;

}

.progammingskill .React::before{
  width: 80%;
}





/* projects */

.projects{
  width: 90%;
  margin-left: 20px;
  font-size: 16px;
}

.projects h2{
  margin-top: 100px;
}

.projects h3{
  margin-top: 120px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

.projects .project-stock{
  margin-top: -100px;
}

.projects img{
  width: 100%;
  /* margin-bottom: 40px; */
}

.projects p{
  font-size: 18px;
}

.projects ul li{

  list-style: none;
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 18px;
  
}

.projects ul li strong{
  font-size: 20px;
}


.projects h4{

  margin-top: 40px;
  font-size: 22px;
  font-weight: 200;

}



.projects .project-discount ul img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 60px;
}

.projects .github-links .work-back{
  margin-top: 50px;
  text-align: right;
  color: #E8637B;
}


.projects .github-links .work-back h5{
  font-size: x-large;
  color: #E8637B;
}


